<div id="card" [routerLink]="['/detail', item.id]">
        <div id="image-holder">
            <img [src]="item.image" alt="">
        </div>
        <div id="info-holder">
            <h2>{{item.name}}</h2>
            <span>{{item.race}} - {{item.gender}}</span>

            <h3>Base KI</h3>
            <span>{{item.ki}}</span>

            <h3>Total KI</h3>
            <span>{{item.maxKi}}</span>

            <h3>Affiliation</h3>
            <span>{{item.affiliation}}</span>
        </div>
    </div>