#container {
    background-color: #272B33;
    padding: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#paginate-section{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}